<ul class="navbar-nav">
    <li class="nav-item dropdown cabinet-user">
        <button class="btn btn-link text-dark dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown">
            <% if (user.avatar) { %>
            <img src="<%= user.avatar %>" alt="avatar" class="rounded-circle" loading="lazy"/>
            <% } else { %>
            <i class="fa-solid fa-circle-user"></i>
            <% } %>
        </button>
        <ul class="dropdown-menu shadow">
            <li class="cabinet-user-info">
                <b class="cabinet-user-name"><%= user.name %></b><br>
                <span class="cabinet-user-login"><%= user.login %></span>
            </li>
            <li>
                <hr class="dropdown-divider"/>
            </li>
            <li>
                <a class="dropdown-item menu-logout" href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти
                </a>
            </li>
        </ul>
    </li>
</ul>