
$fa-font-path             : "../fonts";
$material-icons-font-path : "../fonts/";
$bootstrap-icons-font-dir : "../fonts";

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/material-icons/iconfont/material-icons';

@import '../../node_modules/@material/ripple/dist/mdc.ripple.min';
@import '../../node_modules/@material/linear-progress/dist/mdc.linear-progress.min';
@import '../../node_modules/@material/circular-progress/dist/mdc.circular-progress.min';
@import '../../node_modules/@material/top-app-bar/dist/mdc.top-app-bar.min';


@import '../../node_modules/coreui-panel/src/css/coreui.panel';
@import '../../node_modules/coreui-tabs/src/css/coreui.tabs';
@import '../../node_modules/coreui-alert/src/css/coreui-alert';
@import '../../node_modules/coreui-notice/src/css/coreui.notice';
@import '../../node_modules/coreui-table/src/css/coreui.table';
@import '../../node_modules/coreui-chart/src/css/coreui.chart';

@import "page";
@import "page.auth";
@import "page.disable";
@import "page.menu";