:root {
    --mdc-theme-primary: #2a4397;
    --mdc-theme-secondary: #36436e;

    --menu-header: #fff;
    --menu-header-text: #444;
    --menu-header-btn-hover: rgba(0, 0, 0, 0.15);

    --menu-drawer: #242f40;
    --menu-drawer-mod-active: rgb(0 0 0 / 30%);
    --menu-drawer-mod-active-item: rgb(0 0 0 / 30%);
    --menu-drawer-mod-active-text: rgb(255 255 255 / 90%);
    --menu-drawer-text: rgb(255 255 255 / 70%);
    --menu-drawer-text-active: #fff;
}
.page-menu {
    background-color: #fafafa;
}
.page-menu #loading-screen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 280px;
    z-index: 5;
    text-align: center;
    transition: all 100ms cubic-bezier(.4,0,.2,1);
}
.page-menu #loading-screen .loading-lock {
    position: absolute;
    width: calc(100% - 280px);
    height: 100%;
    background-color: rgb(255 255 255 / 50%);
    transition: all 100ms cubic-bezier(.4,0,.2,1);
}
.page-menu.drawer-toggle #loading-screen {
    width: 100%;
    padding-left: 0;
}
.page-menu.drawer-toggle #loading-screen .loading-lock {
    width: 100%;
}

.page-menu #loading-screen .loading-block {
    margin-top: 200px;
}
.page-menu #loading-screen .loading-text {
    margin-top: 20px;
}
.page-menu .cabinet-user img {
    width: 28px;
    margin-right: 5px;
}
.page-menu .cabinet-user > a {
    color: var(--menu-header-text);
    font-size: 14px;
}
.page-menu .cabinet-user .cabinet-user-info {
    padding: 0.5rem 1rem;
    color: #4f4f4f;
}
.page-menu .mdc-top-app-bar,
.page-menu .menu-drawer  {
    position: fixed;
}
.page-menu .mdc-top-app-bar {
    background-color: var(--menu-header);
    box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    z-index: 7;
    margin-left: 280px;
    width: calc(100% - 280px);
    transition: all 100ms cubic-bezier(.4,0,.2,1);
}
.page-menu.drawer-toggle .mdc-top-app-bar {
    width: calc(100% - 64px);
    margin-left: 64px;
}
.page-menu .mdc-top-app-bar .header-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}
.page-menu .mdc-top-app-bar .mdc-top-app-bar__title {
    padding-left: 0;
    font-size: 18px;
    color: var(--menu-header-text);
}
.page-menu .mdc-top-app-bar .mdc-top-app-bar__subtitle {
    font-size: 12px;
    line-height: 20px;
    color: var(--menu-header-text);
}
.page-menu .mdc-top-app-bar .button-share {
    display: none;
}
.page-menu .mdc-top-app-bar .open-menu {
    color: var(--menu-header-text);
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    width: 45px;
    height: 45px;
}
.page-menu .dropdown-menu {
    border: 1px solid rgb(0 0 0 / 10%);
}







.page-menu .menu-drawer {
    background-color: var(--menu-drawer);
    width: 280px;
    position: fixed;
    left: 0;
    right: initial;
    border-color: rgba(0,0,0,.12);
    z-index: 6;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    transition: width 100ms cubic-bezier(.4,0,.2,1);
    /*overflow: hidden;*/
}
.page-menu.drawer-toggle .menu-drawer {
    width: 64px;
    display: block;
}
.page-menu .menu-drawer .menu-drawer__content {
    height: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}


.page-menu .menu-drawer .menu-list {
    padding: 0;
    margin: 0;
}
.page-menu .menu-drawer .menu-list .menu-list-item {
    border-radius: 10px;
    padding: 0;
    margin: 0 0 5px 0;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    list-style: none;
    /*overflow: hidden;*/
    position: relative;
}
.page-menu .menu-drawer .menu-list.level-1 {
    padding: 0 10px;
    margin: 10px 0;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item .item-control {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item .item-control a {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 12px 0 14px;
    display: flex;
    align-items: center;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item.menu-item-nested .item-control a {
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item.menu-item-nested .menu-icon-button {
    cursor: pointer;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item.menu-item-nested .menu-icon-button i {
    height: 26px;
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item .item-control button {
    background-color: transparent;
    border: 0;
    color: var(--menu-drawer-text);
    width: 40px;
    height: 40px;
    border-radius: 0 10px 10px 0;
}

.page-menu .menu-drawer .menu-list.level-2 {
    width: 100%;
    padding: 0;
    height: 0;
    opacity: 0;
    transition: opacity 100ms linear 100ms;
}
.page-menu .menu-drawer .menu-item-nested-open .menu-list.level-2 {
    height: auto;
    opacity: 1;
}
.page-menu .menu-drawer .menu-list.level-2 > .menu-list-item {
    margin: 0;
    border-radius: 0;
    height: 32px;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 0;
    overflow: initial;
    white-space: nowrap;
}
.page-menu .menu-drawer .menu-list.level-2 > .menu-list-item a {
    padding-left: 48px;
    height: 32px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.page-menu .menu-drawer .menu-list.level-2 > .menu-list-item.core-module-section-index {
    display: none;
    font-weight: 600;
}
.page-menu .menu-drawer .menu-list.level-2 > .menu-list-item.core-module-section-index a {
    color: var(--menu-drawer-text);
}
.page-menu .menu-drawer .menu-list .menu-list-item.menu-item-nested-open.menu-item-nested .item-control:hover,
.page-menu .menu-drawer .menu-list.level-2 > .menu-list-item a:hover {
    background-color: rgb(0 0 0 / 10%);
}
.page-menu.drawer-toggle .menu-drawer .menu-list-item:hover .level-2 {
    display: block;
    height: auto;
    position: absolute;
    left: 43px;
    top: 0;
    z-index: 22222222;
    opacity: 1;
    min-width: 200px;
    background-color: var(--menu-drawer);
    box-shadow: 0 0 6px 1px #00000085;
    border-radius: 8px;
    padding: 8px 0;
}
.page-menu.drawer-toggle .menu-drawer .menu-list-item:hover .level-2 > .core-module-section-index {
    display: list-item;
}
.page-menu.drawer-toggle .menu-drawer .menu-list-item:hover .level-2 > .menu-list-item a {
    padding-left: 20px;
}

.page-menu .menu-drawer .menu-list-item:not(.menu-list-item--disabled).menu-module--activated .menu-list-item__ripple::before {
    opacity: 0;
}
.page-menu .menu-drawer .menu-list-item__text {
    color: var(--menu-drawer-text);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    margin-left: 3px;
}
.page-menu .menu-drawer i {
    color: var(--menu-drawer-text);
    margin-right: 5px;
    min-width: 20px;
    font-size: 16px;
}
.page-menu .menu-drawer .module-icon-letter {
    display: none;
    color: var(--menu-drawer-text);
    min-width: 16px;
    font-size: 14px;
    text-align: center;
}
.page-menu .menu-drawer i + .menu-list-item__text {
    margin-left: 5px;
}
.page-menu .menu-drawer .menu-list-item__meta {
    color: var(--menu-drawer-text);
}
.page-menu .menu-drawer .menu-list.level-1 > .menu-list-item:hover,
.page-menu .menu-drawer .menu-list-item.menu-module--activated,
.page-menu .menu-drawer .menu-list-item.menu-module-index--activated .item-control {
    background-color: var(--menu-drawer-mod-active);
}
.page-menu .menu-drawer .menu-module-section--activated {
    background-color: var(--menu-drawer-mod-active-item);
}
.page-menu .menu-drawer .menu-module-index--activated .item-control .material-icons,
.page-menu .menu-drawer .menu-module-index--activated .item-control i,
.page-menu .menu-drawer .menu-module-index--activated .item-control .menu-list-item__text,
.page-menu .menu-drawer .menu-module-index--activated .item-control .module-icon-letter,
.page-menu .menu-drawer .menu-module-section--activated .menu-list-item__text {
    color: var(--menu-drawer-mod-active-text);
}
.page-menu #preloader {
    margin-top: -4px;
}
.page-menu #preloader .mdc-linear-progress__buffer-bar {
    background-color: var(--menu-header);
}
.page-menu #preloader .mdc-linear-progress__bar-inner {
    border-color: #a262ff;
}













.page-menu .menu-drawer-app {
    flex: auto;
    overflow: auto;
    position: relative;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
.page-menu .menu-drawer--open ~ .menu-drawer-app {
    padding-left: 280px;
}
.page-menu .menu-drawer--modal.menu-drawer--open ~ .menu-drawer-app {
    padding-left: 0;
}
.page-menu .menu-drawer-swipe {
    position: fixed;
    width: 30px;
    z-index: 1;
    top: 64px;
    bottom: 0;
    left: 280px;
}
.page-menu.drawer-toggle .menu-drawer-swipe {
    left: 64px;
}
.page-menu .menu-drawer-app,
.page-menu .menu-drawer-app .main-content {
    background-color: #fafafa;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.page-menu .menu-drawer-app .main-content {
    margin-left: 280px;
    transition: width 100ms cubic-bezier(.4,0,.2,1);
    padding: 104px 30px 30px 30px;
    max-width: 100%;
}
.page-menu.drawer-toggle .menu-drawer-app .main-content{
    margin-left: 64px;
}
.page-menu .menu-drawer__header {
    border-bottom: 1px solid rgb(0 0 0 / 25%);
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 65px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.page-menu .menu-drawer__header .module-home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    padding: 8px 12px;
}
.page-menu .menu-drawer__header .module-home:hover {
    background-color: var(--menu-drawer-mod-active);
}
.page-menu .menu-drawer__header .module-home.active {
    background-color: var(--menu-drawer-mod-active-item);
}
.page-menu .menu-drawer__header h3 {
    color: var(--menu-drawer-text);
    height: 20px;
    margin: 0;
    vertical-align: bottom;
    font-size: 20px;
}
.page-menu .menu-drawer__header .module-home.active h3 {
    color: var(--menu-drawer-text-active);
}
.page-menu .menu-drawer__header .module-home span {
    color: var(--menu-drawer-text);
    margin-right: 13px;
}
.page-menu .menu-drawer__header .module-home.active span {
    color: var(--menu-drawer-text-active);
}

@media (min-width: 600px) {
    .page-menu.drawer-toggle .menu-drawer__header span {
        margin-right: 0;
    }
    .page-menu.drawer-toggle .menu-drawer__header .system-title {
        display: none;
    }
    .page-menu.drawer-toggle .menu-drawer .item-control  .module-icon-letter {
        display: inline-block;
    }
    .page-menu.drawer-toggle .menu-drawer .item-control .menu-list-item__text,
    .page-menu.drawer-toggle .menu-drawer .item-control .menu-icon-button,
    .page-menu.drawer-toggle .menu-drawer .menu-list.level-2 {
        display: none;
    }
}
@media (max-width: 600px) {
    .page-menu .menu-drawer-app {
        padding-left: 0;
    }
    .page-menu .menu-drawer {
        width: 0;
        margin-left: -1px;
    }
    .page-menu .mdc-top-app-bar,
    .page-menu.drawer-toggle .mdc-top-app-bar {
        width: 100%;
        margin-left: 0;
        z-index: 5;
    }
    .page-menu #loading-screen,
    .page-menu #loading-screen .loading-lock {
        width: 100%;
        padding-left: 0;
    }
    .page-menu .mdc-top-app-bar .mdc-top-app-bar__title {
        line-height: 27px;
    }
    .page-menu .mdc-top-app-bar .mdc-top-app-bar__subtitle {
        line-height: 19px;
    }
    .page-menu .menu-drawer-app .main-content {
        padding-top: 86px;
        margin-left: 0;
    }
    .page-menu .menu-drawer__header {
        min-height: 57px;
    }
    .page-menu .menu-drawer-swipe,
    .page-menu.drawer-toggle .menu-drawer-swipe {
        left: 0;
        top: 56px;
    }
    .page-menu.drawer-toggle .menu-drawer {
        width: 280px;
    }
    .page-menu.drawer-toggle .menu-drawer-scrim {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        transition: width 100ms cubic-bezier(.4,0,.2,1);
        background-color: #00000054;
    }
}