html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
:root {
  --menu-header: #fff;
  --menu-header-text: #444;
  --menu-header-btn-hover: rgba(0, 0, 0, 0.15);

  --menu-drawer: #244031;
  --menu-drawer-mod-active: rgb(0 0 0 / 30%);
  --menu-drawer-mod-active-item: rgb(0 0 0 / 30%);
  --menu-drawer-mod-active-text: rgb(255 255 255 / 90%);
  --menu-drawer-text: rgb(255 255 255 / 70%);
  --menu-drawer-text-active: #fff;

  --menu-bg: #fafafa;
  --mdc-theme-primary: #2a4397;
  --mdc-theme-secondary: #36436e;
}
.main,
.main .page {
  height: 100%;
}
.mdc-snackbar {
  bottom: auto;
  top: 35px;
  z-index: 10;
}