:root {
    --login-bg: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), linear-gradient(135deg, #bf3936 0%, #3F51B5 100%);
}
.page-auth {
    overflow: auto;
    background: var(--login-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-auth > video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.page-auth .container {
    padding-top: 90px;
    text-align: center;
    margin-bottom: 30px;
}
.page-auth .container .logo {
    max-height: 200px;
    max-width: 100%;
    width: 175px;
    margin-bottom: 30px;
}
.page-auth .container .mdc-card {
    width: calc(100% - 20px);
    max-width: 350px;
    margin: 0 auto 25px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.page-auth .container .mdc-card .mdc-card__content {
    text-align: center;
    padding: 40px 10px 40px 10px;
    word-break: break-word;
}
.page-auth .container .mdc-card form {
    padding: 0 10px;
    margin: 0 auto;
}
.page-auth .container .mdc-card form .form-label {
    color: #616161;
}
.page-auth .container .mdc-card form .form-control {
    font-size: 14px;
    height: 40px;
}
.page-auth .container .mdc-card form .control-icon .form-control {
    padding-left: 2.5rem;
}
.page-auth .container .mdc-card form .form-controls i {
    position: absolute;
    bottom: 8px;
    left: 12px;
    font-size: 16px;
    line-height: 1.4;
    color: #666;
}
.page-auth .container .mdc-card form button {
    --bs-btn-bg: #3F51B5;
    --bs-btn-border-color: #3F51B5;
}


.page-auth .container .mdc-card .mdc-text-field {
    margin-bottom: 20px;
    background-color: #fff;
}
.page-auth .container .mdc-card .mdc-text-field:last-child {
    margin-bottom: 0;
}
.page-auth .container .mdc-card .mdc-button {
    margin-top: 35px;
    min-width: 238px;
    max-width: 100%;
}
.page-auth .container .forgot-password {
    text-align: right;
    margin-top: 10px;
    width: 227px;
    max-width: 100%;
    display: inline-block;
}
.page-auth .container .forgot-password a {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #e91e63
}
.page-auth .container .links-container {
    font-size: 12px;
    width: 250px;
    max-width: 100%;
    display: inline-block;
}
.page-auth .container .links-container a {
    text-decoration: none;
    color: #69859a;
    cursor: pointer;
    margin: 0 10px;
}
.page-auth .container .links-container a:hover {
    text-decoration: underline;
}
.page-auth .text-danger {
    color: #b10423;
}
.page-auth .text-success {
    color: #43a047;
}
.page-auth .form-controls {
    width: 250px;
    max-width: 100%;
    margin: 30px auto;
}
.page-auth .form-controls .mdc-text-field--outlined {
    height: 40px;
    width: 238px;
}
.page-auth .form-controls .mdc-text-field--outlined .mdc-floating-label,
.page-auth .form-controls .mdc-text-field--outlined .mdc-text-field__input {
    font-size: 13px;
}
.page-auth .form-controls .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-26.75px) scale(0.75);
    transform: translateY(-26.75px) scale(0.75);
}
.page-auth .form-controls .mdc-button {
    height: 40px;
}
